Source: mingw-w64-expat
Priority: optional
Maintainer: Tobias Schlemmer <keinstein@users.berlios.de>
Build-Depends: debhelper (>= 9), autotools-dev
Build-Depends-Indep:
Standards-Version: 4.1.1
Section: libs
Homepage: http://expat.sourceforge.net
#Vcs-Git: https://anonscm.debian.org/collab-maint/mingw-w64-expat.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/mingw-w64-expat.git

Package: expat-mingw-w64-dev
Section: libdevel
Multi-Arch: same
Architecture: any
Depends: expat1-mingw-w64 (= ${binary:Version}), ${misc:Depends}
Description: An XML parser library (mingw-w64, development files)
 This Package contains the development files: headers and libraries.

Package: expat1-mingw-w64
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: An XML parser library (mingw-w64, runtime)
 This Package contains the runtime DLLs.
